@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
           src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.card{width: 18rem; margin-bottom: 5px; margin-right: 5px; height: 100%;}
.card-label{ font-weight: bold; font-size: 17px;}
.card-body .editable-buttons {position: relative; top: 10px;}

img{ border: 2px solid rgb(0, 0, 0);}
/* img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */
.img-divider { background-color: #FFF; border-color: rgb(0, 0, 0); width: inherit;}

.jumbotron{margin-top: 10px;}
.jumbo-iau-info{margin-right: 40px;}
.jumbo-iau-info-label{ font-weight: bold;}
.jumbotron .editable-buttons {position: relative; bottom: 3px;}

.clickable{ cursor: pointer;}

video{margin-top: -40px; margin-bottom: -50px;}

.glyphicon-ok:before {
    content: "\f00c";
    font-family: FontAwesome;
}
.glyphicon-remove:before {
    content: "\f00d";
    font-family: FontAwesome;
}
.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}




