<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/app/scripts/angular.js"></script>
    <script src="/app/scripts/controllers/IAUControl.js"></script>

    <link rel="stylesheet" href="/app/styles/bootstrap-4.0.0/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/app/styles/IAUControlStyle.css"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
</head>

<body>
    <div ng-app='IAUApp' ng-controller='IAUController'>

        <div class="container-fluid">
            <div class="jumbotron">
                <h1 class="display-4">IAU Editor</h1>
                <p class="lead">Edit, save, upload IAUs.</p>
                <hr class="my-4">
                <div class="row">
                        <h2 class="jumbo-iau-info">{{IAU.iau_name}}</h2>
                        <h2 class="jumbo-iau-info"><span class="jumbo-iau-info-label">ID: </span>{{IAU.iau_id || 'None'}}</h2>
                        <h2 class="jumbo-iau-info"><span class="jumbo-iau-info-label">Degree: </span>{{IAU.iau_deg || 'None'}}</h2>
                        <h2 class="jumbo-iau-info"><span class="jumbo-iau-info-label">Done By: </span>{{IAU.iau_done_by || 'None'}}</h2>
                        <h2 class="jumbo-iau-info"><span class="jumbo-iau-info-label">Chosen conf id: </span>{{IAU.iau_chosen_conf_id || 'None'}}</h2>
                </div>
            </div>  

          <div class="col-lg">
              <div class="row">
                  <div class="card bg-success text-white" ng-repeat="act in IAU.iau_actions">
                      <div class="card-body">
                          <p class="card-text"> Action ID: {{act.act_id}}</p>
                          <p class="card-text"> Action Detail: {{act.act_detail}}</p>
                          <p class="card-text"> Action Caution: {{act.act_caution}}</p>
                          <p class="card-text"> Action Warning: {{act.act_warning}}</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg">
              <div class="row">
                  <div class="card bg-warning" ng-repeat="conf in IAU.iau_confs">
                      <div class="card-body">
                          <p class="card-text"> Confirmation ID: {{conf.conf_id}}</p>
                          <p class="card-text"> Confirmation Content: {{conf.conf_content}}</p>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg">
              <div class="row">
                  <div class="card bg-primary text-white" ng-repeat="iu in IAU.iau_ius">
                      <div class="card-body">
                          <p class="card-text"> <span class="card-label">Information Unit ID: </span>{{iu.iu_id}}</p>
                          <p class="card-text"> <span class="card-label">Information Unit Link: </span>{{iu.iu_link}}</p>
                          <p class="card-text"> <span class="card-label">Information Unit Type: </span>{{iu.iu_type}}</p>
                          <div class="text-right"><i class="fas fa-image fa-lg clickable" ng-click="iu.showImg = true;" ng-if="iu.iu_type === 'image' && !iu.showImg"></i></div>
                          <div class="text-right"><i class="fas fa-times fa-lg clickable" ng-click="iu.showImg = false;" ng-if="iu.iu_type === 'image' && iu.showImg === true"></i></div>
                          <div class="text-right"><i class="fas fa-video fa-lg clickable" ng-click="iu.showVid = true;" ng-if="iu.iu_type === 'video' && !iu.showVid" ></i></div>
                          <div class="text-right"><i class="fas fa-times fa-lg clickable" ng-click="iu.showVid = false;" ng-if="iu.iu_type === 'video' && iu.showVid === true"></i></div>                          
                            <hr class="img-divider" ng-if="(iu.iu_type === 'image' && iu.showImg === true) || (iu.iu_type === 'video' && iu.showVid === true)" class="my-4">                           
                            <img ng-if="iu.iu_type === 'image' && iu.showImg === true" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Apollo_Moonwalk2.jpg/220px-Apollo_Moonwalk2.jpg" class="card-img-bottom rounded img-fluid" ng-click="iu.showImg = false;">
                            <!-- <video ng-if="iu.showVid === true" width="320" height="240" controls>
                                    <source src="movie.mp4" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg">
                                  Your browser does not support the video tag.
                            </video> -->
                      </div>
                  </div>
              </div>
          </div>
          <button type="button" class="btn btn-primary">Do something sometime</button>
        </div>


    </div>
</body>

</html>
